@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

body {
    font-family: "Inder", sans-serif;
    background-color: #0B0B0C;
    color: white
}

header {
    background-color: #2e2e2e;
    margin-bottom: 10px;
}

nav {
    background-color: #2e2e2e;
    width: 80vw;
    margin: auto auto;
}

nav .nav-link, .navbar-brand{
    color: white;
}

section {
    margin-bottom: 20px;
}

.navlinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link:hover, .navbar-brand:hover{
    text-decoration: underline;
    color: #5865F2;
}

.logo {
    font-weight: bold;
    font-size: 2em;
}

.wip {
    background-image: url("./../assets/development.png");
    background-position: center;
    background-repeat: no-repeat;
}


.banner-container {
    height: 25vw;
}

.comandos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.titulo {
    font-size: 1.3em;
    text-decoration: overline;
    margin-bottom: 10px;
}

.nav-pills button {
    margin: 1px 0;
    height: 50px;
}

.nav-pills button:hover {
    background-color: #5865F2;
    color: white;
}

.accordion {
    min-width: 50vw;
    margin-bottom: 10px;
}


.my-accordion-button{
    border: none;
    padding: 20px;
    outline: none;
    width: 100%;
    text-align: start;
    background-color: #5865F2;
    color: white;
    border-radius: 10px;
    transition: 0.3s;
}

.my-accordion-button:hover{
    background-color: white;
    color: black;
}


.item {
    margin-bottom: 10px;
}

.comandos-container {
    box-shadow: inset 2px 2px 5px 0px #e4e4e4;
    padding: 10px;
    border-radius: 10px;
}

.comandos-content {
    display: flex;
    justify-content: space-between;
}

.comandos-content p {
    max-width: 30vw;
}

.badge {
    margin-left: 20px;
}

small {
    font-style: italic;
    font-size: 0.9em;
}

.sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2e2e;
    color: white;
    flex-direction: column;
}
