@import url("https://fonts.googleapis.com/css2?family=Inder&display=swap");

:root {
    --discord: #5865f2;
    --cinza: #2e2e2e;
    --cinza-claro: #c4c4c4;
    --cinza-mais-claro: #f6f6f6;
    --grafite: #0b0b0c;

    --mantis: #7dce82;
    --mantis-darker: #41aa48;

    --aureolin: #f8f32b;
    --aureolin-darker: #d0cc06;

    --azure: #3f84e5;
    --azure-darker: #1a60c1;
}

body {
    font-family: "Inder", sans-serif;
    /* background-color: var(--grafite); */
    color: white;
}

.btn {
    margin: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: var(--discord);
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.btn-white {
    margin: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    color: var(--grafite);
    text-decoration: none;
}

.btn-glow-white {
    transition: 0.3s;
    animation-name: btnglow-white;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes btnglow-white {
    0% {
        box-shadow: 0px 0px 0px 0px white;
    }
    50% {
        box-shadow: 0px 0px 20px 3px white;
    }
    100% {
        box-shadow: 0px 0px 0px 0px white;
    }
}

.btn-glow {
    transition: 0.3s;
    animation-name: btnglow;
    animation-duration: 10s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

@keyframes btnglow {
    0% {
        box-shadow: 0px 0px 0px 0px var(--discord);
    }
    50% {
        box-shadow: 0px 0px 20px 3px var(--discord);
    }
    100% {
        box-shadow: 0px 0px 0px 0px var(--discord);
    }
}

.btn:hover {
    border-radius: 20px;
}

.title {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5em;
    color: var(--cinza);
}

.subtitle {
    & span {
        background-color: #cecece;
        padding: 1px 14px;
        border-radius: 10px;
    }
}

/* ############### HEADER ################## */

header {
    background-color: var(--grafite);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grafite);
    text-align: center;
}

nav {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

nav .links .link {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    margin-right: 30px;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 2.5em;
}

.logo-mobile {
    display: none;
}

.logo-mobile img {
    border-radius: 50%;
    width: 100px;
}

.logo:hover {
    text-decoration: underline;
}

/* ############### MAIN ################## */
/* ####### banner ########## */

.banner {
    background-color: var(--discord);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--grafite);
    text-align: center;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#changeText {
    color: white;
    animation: fadeInOut 2s ease-in-out infinite;
}

/* ####### comandos ########## */

.comandos {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--grafite);
}

.jotchua-hero {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.jotchua-hero img {
    border-radius: 50%;
    width: 20%;
}

.divider {
    content: "";
    background-color: var(--discord);
    border-radius: 50%;
    width: 20%;
    height: 1px;
    margin: 10px;
}

.comandos .content {
    display: flex;
}

.comandos-class {
    width: 50%;
}

.class {
    width: 80%;
}

.comandos-class p {
    margin: 20px;
}

.comandos-lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: var(--cinza-mais-claro);
    color: var(--grafite);
    width: 100%;
}

.comandos-container {
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.categorias {
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 30%;
    border-radius: 10px;
    box-shadow: inset -5px 5px 10px #dddddd, inset 5px -5px 10px #ffffff;
}

.categoria-container {
    width: 100%;
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
}

.categoria-content {
    text-align: center;
    padding: 20px 0;
    width: 75%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.categoria-amount {
    text-align: center;
    padding: 20px 0;
    width: 25%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.detalhes {
    max-height: 600px;
    min-height: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 65%;
    border-radius: 10px;
    box-shadow: inset 5px 5px 10px #dddddd, inset -5px -5px 10px #ffffff;
    overflow: auto;
}

.detalhe-container {
    background-color: white;
    width: 98%;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid var(--grafite);
}

.detalhe-title {
    padding: 20px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.detalhe-content {
    padding: 10px;
}

.code {
    color: orangered;
    font-family: monospace;
    font-size: 1.2em;
}
.code-args {
    font-style: italic;
    font-family: monospace;
    font-size: 1.2em;
}

.descricao {
    margin-top: 10px;
}

.detalhe-exemplo {
    padding: 10px;
    border-top: var(--cinza-claro) 1px solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mantis {
    background-color: var(--mantis);
    transition: 0.3s;
}
.mantis:hover {
    background-color: var(--mantis-darker);
}
.mantis-darker {
    background-color: var(--mantis-darker);
}

.aureolin {
    background-color: var(--aureolin);
    transition: 0.3s;
}
.aureolin:hover {
    background-color: var(--aureolin-darker);
}
.aureolin-darker {
    background-color: var(--aureolin-darker);
}

.azure {
    background-color: var(--azure);
    transition: 0.3s;
}
.azure:hover {
    background-color: var(--azure-darker);
}
.azure-darker {
    background-color: var(--azure-darker);
}

.comandos-basicos,
.social,
.role-play {
    display: none;
}

.exibe {
    display: block;
}

/* ####### equipe ########## */

.equipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: var(--grafite);
}

.lista-equipe {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.pessoa {
    margin-top: 20px;
    width: min-content;
    text-align: center;
}

.pessoa a img {
    border-radius: 50%;
    width: 120px;
    border: var(--cinza) 2px solid;
    transition: 0.3s;
}

.pessoa a img:hover {
    transform: scale3d(1.2, 1.2, 1);
    border: var(--discord) 2px solid;
    padding: 5px;
}

.pessoa p {
    margin-top: 20px;
    font-size: 1.2em;
}

.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-icon {
    border: none;
    border-radius: 0;
    width: 20px;
    fill: #2e2e2e;
    transition: 0.3s;
}

.link-icon:hover {
    fill: var(--discord);
}

/* ############### FOOTER ################## */

footer {
    padding: 40px 20px;
    background-color: var(--grafite);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-content {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 60px;
}

.footer-title {
    & p {
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.footer-contato {
    & p {
        font-weight: bold;
        margin-bottom: 10px;
    };
    & a {
        color: white;
        text-decoration: none;
    }
    
}

@media only screen and (max-width: 768px) {
    /* header */
    .logo {
        display: none;
    }
    .logo-mobile {
        display: block;
    }

    nav {
        width: 90vw;
    }
    nav .links .link {
        font-size: 1em;
        margin-right: 10px;
    }

    /* main */

    .comandos .content {
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }

    .comandos-class {
        width: 90vw;
    }

    .class {
        width: 100%;
    }

    .title {
        font-size: 1.7em;
    }

    .subtitle {
        font-size: 1.2em;
    }

    .comandos-container {
        width: 90vw;
    }
}
